 @import "~bootstrap/scss/bootstrap.scss";



$allColor:#B32D45;
.allColor{
  background-color: $allColor;
  color: $allColor;
}
input{
  @extend .form-control;
}

button{
@extend .btn, .btn-info;
 line-height: inherit;
  margin: 5px;
 
  
}
.navBar{
  
  
  width: 100%;
}

a{
  color: #fff;
  padding: 0 15px;
  cursor: pointer;
}
