 @import "~bootstrap/scss/bootstrap.scss";



$allColor:#B32D45;
.allColor{
  background-color: $allColor;
  color: $allColor;
}
input{
  @extend .form-control;
}

button{
@extend .btn, .btn-outline-secondary,.m-1;

}

textarea{
  @extend input;
  height: 150px;
}

a{
  color: #fff;
  padding: 0 15px;
  cursor: pointer;
}
